* {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-create {
    margin: 10px;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#todo-input {
    height: 30px;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    outline: none;
    font-size: 20px;
}

#todo-create-btn {
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #bc00ca90;
    color: white;
}

#todo-create-btn:hover {
    background-color: #bc00ca;
}

.todo-list {
    width: 60%;
}

.todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    padding: 5px;
    margin-bottom: 7px;
    border: 1px solid gray;
    border-radius: 5px;
}

.todos {
    width: 100%;
}

#edit-buttons {
    font-size: 24px;
    width: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #bc00ca;
}

.edit-btn {
    cursor: pointer;
}

.edit-btn:hover {
    transform: rotate(360deg);
    transition: 0.9s;
}

#delete-btn:hover {
    color: rgb(225, 0, 0);
}

#edit-btn:hover {
    color: blue
}

#check-btn:hover {
    color: green
}